/* wpa and bpa, notify on average to watch yada yada, make regs highligh better, stats bg, all incidents, posts, search dropdowns everywhere T-T, maybe add icons to comp schedule, pr streak website, copy. wca live results as well as watch lol */
/* line 597 */
/* fix SUM OF RANKS MENUS hightlight yada yada */
/* statistics list */

/* default */
/* :root {
    --txtcolor: #ffffff;
    --bgcolor: #2c2c2c;
    --bgcolor: #000000; 
    --primary: #ff7b00;
    --secondary: #006eff;
    --accent: #a439d1;
} */

:root{
    --txtfont: 'Josefin Sans', sans-serif;
}

/* Bloo */

/* :root {
    --txtcolor: #ffffff;
    --bgcolor: #0e0f12;
    --primary: #1a1d21;
    --secondary: #006eff;
    --accent: #0094ff;
} */

/* Google */

/* :root {
    --txtcolor: #EA4335;
    --bgcolor: #ffffff;
    --primary: #34A853;
    --secondary: #FBBC05;
    --accent: #4285F4;
} */

/* Blood */

:root {
    --txtcolor: #efefef;
    --bgcolor: #101010;
    --primary: #ce1c1b;
    --secondary: #000000;
    --accent: #ce1b1b;
}

/* Codepen */

/* :root {
    --txtcolor: #ffffff;
    --bgcolor: #131417;
    --primary: #47cf73;
    --secondary: #444857;
    --accent: #ffdd40;
} */

/* Lollipop */

/* :root {
    --txtcolor: #000000;
    --bgcolor: #ffffff;
    --primary: #0049db;
    --secondary: #f2f2f2;
    --accent: #ff6bc1;
} */

/* Sage */

/* :root {
    --txtcolor: #000000;
    --bgcolor: #e7e7d7;
    --primary: #006338;
    --secondary: #deded0;
    --accent: #006338;
} */

/* Terminal */

/* :root {
    --txtcolor: #eeeeee;
    --bgcolor: #000000;
    --primary: #44d62c;
    --secondary: #222222;
    --accent: #44d62c;
} */


@media screen and (max-width: 2000px) {
    .table-responsive {
        border: 1px solid transparent !important;
    }

    .table>thead>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>th,
    .table>tbody>tr>td,
    .table>tfoot>tr>th,
    .table>tfoot>tr>td {
        border-top: 1px solid transparent !important;
    }

    .table>thead>tr>th {
        vertical-align: bottom;
        border-bottom: 1px solid transparent !important;
    }
}

body {
    background-color: var(--bgcolor) !important;
    height: 100vh !important;
    margin: 0 !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    font: 400 15px/1.8 var(--txtfont) !important;
    color: var(--txtcolor) !important;
}

/* wca stats */
.stat-card {
    background-color: var(--bgcolor) !important;
}
.ant-statistic-title, #content-wrapper > div > div > div > div > div > div.ant-statistic-content{
    color: var(--txtcolor) !important;
    filter: brightness(0.75) !important;
}
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover {
    color: var(--primary) !important;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--txtcolor) !important;
}
#top-bar > li, #top-bar > li > span.ant-menu-title-content > a, #top-bar > li:nth-child(7) > div > span > a{
    color: var(--txtcolor) !important;
}
#top-bar > li:hover, #top-bar > li > span.ant-menu-title-content:hover, #top-bar > li:nth-child(7) > div > span > a:hover{
    color: var(--primary) !important;
}
/* #top-bar > li, */
 #top-bar > li > span.ant-menu-title-content > a:hover, #top-bar > li:nth-child(7) > div > span > a:hover{
    color: inherit !important;
}
.ant-menu {
    color: var(--txtcolor) !important;
    background: var(--bgcolor)!important;
}
.ant-modal-content {
    background-color: var(--bgcolor) !important;
    color: var(--txtcolor) !important;
    border-radius: 10px !important;
}
.ant-modal-header {
    color: var(--txtcolor) !important;
    background: var(--bgcolor) !important;
    border-bottom: 1px solid var(--txtcolor) !important;
    border-radius: 10px 10px 0 0;
}
.ant-modal-title {
    color: var(--accent) !important;
}
body > div > div > div.ant-modal-wrap > div > div.ant-modal-content > div.ant-modal-body > div > div > h2  {
    color: var(--accent) !important;
}
body > div:nth-child(6) > div > div.ant-modal-wrap > div > div.ant-modal-content > div.ant-modal-footer > button{
    color: var(--bgcolor) !important;
    background: var(--accent) !important;
    border-color: var(--accent) !important;    
    border-radius: 10px !important;
}
b, strong {
    color: white;
}
#content-wrapper > div.ant-collapse.ant-collapse-icon-position-left {
    background-color: var(--bgcolor);
    border: none;
}
.ant-collapse-content {
    color: var(--txtcolor) !important;
    background-color: var(--bgcolor) !important;
    border-top: 1px solid var(--txtcolor) !important;
}
.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    color: var(--txtcolor) !important;
}
.badge-count sup {
    color: var(--txtcolor) !important;
    background-color: var(--accent) !important;
    box-shadow: inset 0 0 0 1px var(--txtcolor) !important;
    margin-left: 11px;
    margin-top: 2.79px;
}
#content-wrapper > div {
    text-align: -webkit-center;
}
/* actual body */
#page-container {
    background-color: var(--bgcolor) !important;
    color: var(--txtcolor) !important;
}
.ant-input {
    font-variant: var(--txtfont) !important;
    padding: 4px 14px !important;
    color: var(--primary) !important;
    background-color: var(--bgcolor) !important;
    border: 1px solid var(--txtcolor) !important;
    border-radius: 10px !important;
}
/* i hate popup menus */
.ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
    color: var(--primary) !important;
}
.ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-arrow, .ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-expand-icon {
    color: var(--primary) !important;
}
.ant-menu-submenu-arrow, .ant-menu-submenu-expand-icon {
    color: var(--txtcolor) !important;
}
#top-bar-Competitors-popup > li {
    color: var(--txtcolor);
}
.ant-menu-item a {
    color: var(--txtcolor) !important;
}
.ant-menu-item a:hover {
    color: var(--primary) !important;
}
#login > span > img {
    margin-right: .4rem;
}
/* already good font lol */
/* #query-input {
    font-family: var(--txtfont) !important;
} */
textarea.ant-input {
    height: 50vh;
}
.ant-input:hover {
    border-color: var(--accent);
}
.page-title {
    /* font-weight: lighter !important; */
    color: var(--txtcolor) !important;
    margin-bottom: 1rem !important;
}
#database-query-wrapper > div:nth-child(2) > p{
margin-top: -1.75rem !important;
}
#database-query-wrapper > div > p {
    filter: brightness(0.6);
}
/* .ant-col-8 {
    flex: 0 0 0% !important;
} */
/* input fields */
.ant-input-group-addon {
    color: var(--bgcolor) !important;
    font-weight: bolder;
    background-color: var(--accent) !important;
    border: 2px solid var(--txtcolor) !important;
    border-right: 0.1rem solid var(--txtcolor) !important;
    border-radius: 10px;
}
/* random highlights */
#format:target,  #time-limit:target, #cutoff:target {
    background-color: #7d7d2d !important;
}
/* highlight sor */
.SumOfRanksPage_highlight__2OmFc {
    background-color: #7d7d2d !important;
}
#content-wrapper > div > div > ul > li.ant-pagination-options > div.ant-pagination-options-quick-jumper{
color: var(--primary) !important;
}
#content-wrapper > div > div > ul > li.ant-pagination-options > div.ant-pagination-options-quick-jumper > input[type=text] {
    color: var(--primary);
    background: var(--bgcolor);
    border: 1px solid var(--txtcolor);
}
#content-wrapper > div > div > ul > li.ant-pagination-next > button,
#content-wrapper > div > div > ul > li > a > div > span.ant-pagination-item-ellipsis{
background: var(--bgcolor) !important;
color: var(--primary) !important;
border: transparent !important;
}
/* Best ever */
#content-wrapper > div > table > thead > tr:nth-child(1) > td > span{
    color: var(--primary) !important;
    background-color: var(--bgcolor) !important;
    border: 1px solid var(--txtcolor) !important;
}
#content-wrapper > div > form > div > div.ant-col.ant-col-xs-24.ant-col-md-10 > div > div > div > div > span{
    background: var(--bgcolor) !important;
    border: 1px solid var(--txtcolor) !important;
}
#content-wrapper > div > table > tbody > tr > th{
    background: var(--bgcolor) !important;
}
/* record evolve */
#content-wrapper > div > div.align-center > div > div > span.ant-select-selection-item{
    color: var(--txtcolor) !important;
}
body > div > div > div{
    background: var(--bgcolor) !important;
}
body > div > div > div > div > div.rc-virtual-list > div.rc-virtual-list-holder > div > div > div{
    color: var(--txtcolor) !important;
}
body > div > div > div > div > div.rc-virtual-list > div.rc-virtual-list-holder > div > div > div.ant-select-item.ant-select-item-option.ant-select-item-option-active.ant-select-item-option-selected {
    background: inherit;
    color: var(--primary) !important;
}
body > div > div > div > div > div.rc-virtual-list > div.rc-virtual-list-holder > div > div > div.ant-select-item.ant-select-item-option.ant-select-item-option-active, body > div:nth-child(7) > div > div > div > div.rc-virtual-list > div.rc-virtual-list-holder > div > div > div.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
    color: var(--primary) !important;
    background: inherit !important;
}
.ant-btn, .ant-btn:active, .ant-btn:focus {
    outline: 0;
    color: var(--primary) !important;
    background: var(--bgcolor) !important;
    border-color: var(--txtcolor) !important;
}
#content-wrapper > div > div.recharts-responsive-container > div > div.recharts-tooltip-wrapper > div{
    background-color: var(--bgcolor) !important;
    border: 1px solid var(--txtcolor) !important;
}
/* make flush with id input */
.ant-input-group-addon:last-child, .ant-input-group-addon:last-child .ant-select .ant-select-selector, .ant-input-group>.ant-input:last-child, .ant-input-group>.ant-input:last-child .ant-select .ant-select-selector {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.ant-input-group-addon {
    color: var(--bgcolor) !important;
    background-color: var(--accent) !important;
    border: 1px solid var(--txtcolor) !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}
/* svgs */
svg {
    fill: var(--primary);
}
#content-wrapper > div > div > div.ant-result-title {
    color: var(--txtcolor) !important;
}
/* button */

.ant-btn-primary {
    color: var(--accent) !important;
    border-color: var(--accent) !important;
    background: var(--bgcolor) !important;
    /* thing that no one will see but i still added lol if you zoom in */

        text-shadow: 0 -1px 0 rgba(255,255,255,.12) !important;
        box-shadow: 0 2px 0 rgba(255,255,255,.045) !important;
}
.ant-btn-primary:hover {
    color: var(--bgcolor) !important;
    border-color: var(--accent) !important;
    background: var(--accent) !important;
    /* thing that no one will see but i still added lol if you zoom in */

        text-shadow: 0 -1px 0 rgba(255,255,255,.12) !important;
        box-shadow: 0 2px 0 rgba(255,255,255,.045) !important;
}
/* #content-wrapper > div > div.align-center {
    margin: 20px !important
} */
/* table controls */
.ant-pagination-next .ant-pagination-item-link, .ant-pagination-prev .ant-pagination-item-link {
    font-size: 30px !important;
    background-color: transparent !important;
    border: none !important;
}
#content-wrapper > div > div > ul > li.ant-pagination-next > button,
#database-query-wrapper > ul > li.ant-pagination-next > button{
    font-size: 30px;
}
.ant-pagination-item {
    background-color: transparent !important;
    border: none !important;
    font-size: 20px !important;
}
.ant-pagination-item-active {
    font-weight: 400 !important;
    background: var(--bgcolor) !important;
    border: 1px solid var(--primary) !important;
}
/* #database-query-wrapper > ul > li.ant-pagination-item.ant-pagination-item-1.ant-pagination-item-active > a {
    color: var(--bgcolor) !important;
} */
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: var(--bgcolor) !important;
    color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
    border-radius: 10px !important;
}
.ant-pagination, .ant-pagination ol, .ant-pagination ul {
    margin-bottom: 15px !important;
}
#content-wrapper > div > div.ant-row {
    margin: 25px !important;
}
/* bottom line in navbar */
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active:after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open:after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected:after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover:after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active:after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open:after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected:after, .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover:after {
    border-bottom: 2px solid var(--primary) !important;
}
/* on page active */
.ant-menu-vertical-left .ant-menu-submenu-selected, .ant-menu-vertical-right .ant-menu-submenu-selected, .ant-menu-vertical .ant-menu-submenu-selected {
    color: inherit !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    color: inherit !important;
    background-color: inherit !important;
}
.ant-menu-item:active, .ant-menu-submenu-title:active {
    background: inherit !important;
}
/* careful with this */
#table-header th {
    background-color: var(--primary) !important;
    color: var(--txtcolor) !important;
}
#results-table > table > tbody > tr > td, #results-table > table > tbody > tr > th {
    border: 2px solid var(--primary);
}
/* add export as csv feature, maybe get rid of censored values, or wiki with connected userid to regis... */

::selection {
    background: var(--primary) !important;
  }

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: var(--primary) !important;
}


.navbar-default {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle.StripeElement--focus {
    background-color: transparent !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: var(--) !important;
}

.navbar-static-top .navbar-nav>li>a.top-nav:hover, .navbar-static-top .navbar-nav>li.panel-info>.top-nav.heading-as-link:hover, .navbar-static-top .navbar-nav>li.panel-warning>.top-nav.heading-as-link:hover {
    background: linear-gradient(to bottom, var(--accent), var(--secondary)) !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.panel-warning.active>.heading-as-link:hover, .navbar-default .navbar-nav>.panel-info.active>.heading-as-link:hover, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: var(--txtcolor) !important;
    background: linear-gradient(to bottom, var(--accent), var(--secondary)) !important;
    /* filter: invert(); */
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li.panel-warning>.heading-as-link:hover, .navbar-default .navbar-nav>li.panel-info>.heading-as-link:hover {
    color: var(--txtcolor) !important;
}
.navbar-default .navbar-collapse,.navbar-default .navbar-form {
    border-color: purple !important;
}
/* mobile menu */
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu>li.panel-warning>.heading-as-link:hover,.navbar-default .navbar-nav .open .dropdown-menu>li.panel-info>.heading-as-link:hover {
        color: var(--txtcolor) !important;
    }
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.panel-warning.open>.heading-as-link:hover,.navbar-default .navbar-nav>.panel-info.open>.heading-as-link:hover,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent !important;
}

/* search bar */
.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
    color: var(--txtcolor) !important;
}
.ui.selection.active.dropdown, .ui.selection.active.dropdown .menu {
    border-color: var(--secondary) !important;
}
.input-group-addon {
    color: var(--txtcolor) !important;
    background-color: var(--accent) !important;
    border: 1px solid var(--txtcolor) !important;
}

.ui.selection.dropdown {
    background: transparent !important;
    border: 3px solid calc(255 - var(--txtcolor)) !important;
    color: var(--txtcolor) !important;
}

.dropdown-menu {
    background-color: var(--primary) !important;
}
  
.dropdown-menu>li>a,.dropdown-menu>li.panel-warning>.heading-as-link:hover,.dropdown-menu>li.panel-info>.heading-as-link:hover {
    color: var(--txtcolor) !important;
}

.dropdown-header {
    font-size: 10px !important;
    color: var(--txtcolor) !important;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li.panel-warning>.heading-as-link:hover,.dropdown-menu>li.panel-info>.heading-as-link:hover,.dropdown-menu>li>a:focus,.dropdown-menu>li>a.StripeElement--focus {
    color: var(--txtcolor) !important;
    background: linear-gradient(to bottom, var(--accent), var(--secondary)) !important;
    /* filter: invert(); */
}

body footer.ui.segment.vertical, html footer.ui.segment.vertical {
    background-color: var(--accent) !important;
    margin-top: 20px !important;
    border-top: 1px solid var(--txtcolor) !important;
}

body footer.ui.segment.vertical a, html footer.ui.segment.vertical a {
    color: var(--txtcolor) !important;
}
.ui.popup {
    background: var(--bgcolor) !important;
    border: 1px solid var(--txtcolor) !important;
    border-radius: 0.685714rem;
    color: var(--txtcolor) !important;
    padding: .533em .5em;
}
.ui.bottom.popup:before, .ui.left.center.popup:before, .ui.right.center.popup:before, .ui.top.popup:before {
    background: var(--bgcolor) !important;
}
.ui.button:hover {
    background-color: var(--accent) !important;
    color: var(--txtcolor) !important;
}
.ui.button {
    background-color: var(--accent) !important;
    color: var(--txtcolor) !important;
}

table.table.floatThead thead th,#person table.table.floatThead thead th {
    background-color: var(--secondary) !important;
}

@media (min-width: 768px) {
    .tab-pane {
        border: 1px solid transparent;
    }
}

.event-checkbox input[type="checkbox"]:checked+i.cubing-icon, .event-checkbox input[type="radio"]:checked+i.cubing-icon, .event-radio input[type="checkbox"]:checked+i.cubing-icon, .event-radio input[type="radio"]:checked+i.cubing-icon {
    color: var(--accent) !important;
}
.event-checkbox input[type="checkbox"]+i.cubing-icon, .event-checkbox input[type="radio"]+i.cubing-icon, .event-radio input[type="checkbox"]+i.cubing-icon, .event-radio input[type="radio"]+i.cubing-icon {
    color: var(--txtcolor);
}
i.emphasized.icon:not(.disabled), i.emphasized.icons:not(.disabled), i.icon:active, i.icon:hover, i.icons:active, i.icons:hover {
    opacity: 0.6 !important;
}
#event {
        display: flex;
        justify-content: center;
        align-items: center;
}
#results-selector #event .all-events, #results-selector #event .all-events.active, #results-selector #region .all-events.active, #results-selector #type .all-events.active, #results-selector #years .all-events.active, #results-selector #show .all-events.active, #results-selector #gender .all-events.active {
    margin-top: 1.15em;
    margin-right: 0.6em;
}
.event-checkbox a.active, .event-checkbox .panel-warning>.heading-as-link:hover, .event-checkbox .panel-info>.heading-as-link:hover, .event-radio a.active, .event-radio .panel-warning>.heading-as-link:hover, .event-radio .panel-info>.heading-as-link:hover {
    color: var(--txtcolor) !important;
}
/* marker for when this breaks everything */
.btn-group>.btn:hover, .btn-group>.btn:focus, .btn-group>.btn.StripeElement--focus, .btn-group>.btn:active, .btn-group>.btn.active, .btn-group-vertical>.btn:hover, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn.StripeElement--focus, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn.active {
    filter: drop-shadow(2.4px 2.7px 4px var(--txtcolor));
}

/* super annoying thing because its every f ing link not a certain group */
a {
    color: var(--txtcolor) !important;
}
a:hover {
    color: var(--txtcolor);
}

/* all the special links vvv */

/* person page table */
#person > div.personal-records > div > table > tbody > tr > td > a,
/* comp links in results */
td.competition > a,
/* should fix most tables :) */
.table-striped>tbody>tr>td>a,
/* table heading links */
.panel-title>a {
       color: var(--txtcolor) !important;
}
td.competition > a:hover,
#results-list > div > table > tbody > tr > td.name > a:hover{
    filter: brightness(0.5);
}

/* pagination controls */
.pagination>li>a, .pagination>li.panel-warning>.heading-as-link:hover, .pagination>li.panel-info>.heading-as-link:hover, .pagination>li>span {
    color: var(--primary) !important;
    background: var(--bgcolor) !important;
    border: 1px solid var(--bgcolor) !important;
    font-size: x-large;
}

.pagination>li>a:hover, .pagination>li.panel-warning>.heading-as-link:hover, .pagination>li.panel-info>.heading-as-link:hover, .pagination>li>a:focus, .pagination>li>a.StripeElement--focus, .pagination>li>span:hover, .pagination>li>span:focus, .pagination>li>span.StripeElement--focus {
    border-color: #ddd;
    background: var(--accent) !important;
    color: var(--txtcolor) !important;
}
.pagination>.active>a, .pagination>.panel-warning.active>.heading-as-link:hover, .pagination>.panel-info.active>.heading-as-link:hover, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus {
    border: solid 1px var(--txtcolor) !important;
}
#database-query-wrapper > ul > li.ant-pagination-item.ant-pagination-item-1.ant-pagination-item-active > a {
    color: var(--accent) !important;
}
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis, .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis {
    color: var(--accent) !important;
}

/* search bar tingz */
#search-box > div > span{
    background: var(--accent) !important;
}
.form-control:focus, .incident-form .nested-fields .comments-input:focus, .StripeElement--focus {
    border-color: var(--accent) !important;
    outline: 0;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px var(--accent); */
    /* use a hex variable, but have it slightly transparent for the box-shadow */
    -webkit-box-shadow: inset 0 1px 1px rgba(var(--bgcolor), 0.075),0 0 8px rgba(var(--accent), 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(var(--bgcolor),0.075),0 0 8px rgba(var(--accent), 0.6) !important;
}

/* nav bar (top menu) stuff */
.nav-tabs>li.active>a, .nav-tabs>li.panel-warning.active>.heading-as-link:hover, .nav-tabs>li.panel-info.active>.heading-as-link:hover, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: var(--accent);
}

.nav-tabs-justified>.active>a, .nav-tabs-justified>.panel-warning.active>.heading-as-link:hover, .nav-tabs-justified>.panel-info.active>.heading-as-link:hover, .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.panel-warning.active>.heading-as-link:hover, .nav-tabs.nav-justified>.panel-info.active>.heading-as-link:hover, .nav-tabs-justified>.active>a:hover, .nav-tabs-justified>.active>a:focus {
    border-bottom-color: var(--txtcolor);
    color: var(--txtcolor) !important;
}

.nav-tabs-justified>.active>a, .nav-tabs-justified>.panel-warning.active>.heading-as-link:hover, .nav-tabs-justified>.panel-info.active>.heading-as-link:hover, .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.panel-warning.active>.heading-as-link:hover, .nav-tabs.nav-justified>.panel-info.active>.heading-as-link:hover, .nav-tabs-justified>.active>a:hover, .nav-tabs-justified>.active>a:focus {
    border: 1px solid var(--txtcolor);
}

.btn-danger:hover, .panel-warning>.btn-danger.heading-as-link:hover, .panel-info>.btn-danger.heading-as-link:hover, .panel-warning.panel-info>.heading-as-link:hover {
    color: var(--txtcolor) !important;
    background-color: #c9462c;
}

.nav-tabs-justified > .active > a,
.nav-tabs-justified > .panel-warning.active > .heading-as-link,
.nav-tabs-justified > .panel-info.active > .heading-as-link,
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .panel-warning.active > .heading-as-link,
.nav-tabs.nav-justified > .panel-info.active > .heading-as-link {
    border-bottom-color: var(--txtcolor);
    background: var(--accent) !important;
    color: var(--txtcolor) !important;
}

/* i hate the nav tab */
.nav > li.panel-warning > .heading-as-link:hover,
.nav > li.panel-info > .heading-as-link:hover,
.nav > li > a.StripeElement--focus,
.nav > li > a:not([aria-expanded="true"]):hover,
.nav > li > a:not([aria-expanded="true"]):focus,
.nav > li.panel-warning > a:not([aria-expanded="true"]):hover,
.nav > li.panel-info > a:not([aria-expanded="true"]):hover {
    background: var(--secondary) !important;
}
.nav > li:not(.active) > a:not([aria-expanded="false"]):hover {
    background: var(--bgcolor) !important;
    border-bottom-color: var(--txtcolor) !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.panel-warning.active > .heading-as-link:hover,
.nav-tabs > li.panel-info.active > .heading-as-link:hover,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border-bottom-color: var(--txtcolor) !important;
}


/* pbs */
#person .results-by-event table th.pb, #person .results-by-event table td.pb {
    color: #00f7ff !important;
    background-color: #a200ff;
}
/* hover prs */
.plain:hover {
    filter: brightness(0.5);
}


#person .results-by-event table.highlight-gold tr.gold-place, #person .results-by-event table.highlight-silver tr.silver-place, #person .results-by-event table.highlight-bronze tr.bronze-place {
  background: #bf8c00 !important;
}

#person .results-by-event table.highlight-silver tr.silver-place {
    background-color: #7d7d7d !important;
}

#person .results-by-event table.highlight-bronze tr.bronze-place {
    background-color: #a05d00 !important;
}

#person .wc-podiums table .result td.place {
    color: var(--txtcolor) !important;
}

/* map */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: var(--bgcolor) !important;
    box-shadow: 0 9px 6px rgba(0,0,0,.4) !important;
    color: var(--txtcolor) !important;
}

.leaflet-container .leaflet-control-attribution {
    background: var(--bgcolor) !important;
}
.leaflet-bar a{
    background-color: var(--bgcolor) !important;
}
#competitions-map > div.leaflet-control-container > div.leaflet-bottom.leaflet-right > div {
    color: var(--accent) !important;
}
/* maps but undo stupid a stuff */
#competitions-map > div.leaflet-control-container > div.leaflet-top.leaflet-left > div > a{
    color: var(--accent) !important;
}


/* gold silve bronze nums */
#person > div.row > div.col-md-6.medal-collection > table > tbody > tr > td > a{
    color: var(--txtcolor) !important;
}
#person > div.row > div.col-md-6.medal-collection > table > tbody > tr > td > a:hover{
    filter: brightness(0.5);
}

body > div > div.navbar-collapse.collapse.disabled > ul:nth-child(1) > li.top-nav.logo > a:hover, body > div > div.navbar-collapse.collapse.disabled > ul:nth-child(1) > li.top-nav.logo:hover {
    background: none !important;
}
#person > div.row > div.col-md-6.medal-collection > table > tbody > tr > td > a {
    width: 100%;
    display: inline-block;
} /* make them way easier to click */


/* WCA HOMEPAGE */
.ui.card, .ui.cards>.card {
    background: var(--bgcolor) !important;
}

.ui.card>.content>.header, .ui.cards>.card>.content>.header {
    color: var(--txtcolor) !important;
}

.ui.card>.content>.description, .ui.cards>.card>.content>.description {
    color: var(--txtcolor)  !important;
    filter: brightness(0.8) !important;
}

.ui.primary.button, .ui.primary.buttons .button, .ui.blue.button, .ui.blue.buttons .button {
    background-color: var(--primary) !important;
    color: var(--txtcolor) !important;
}

#homepage #content-homepage .ui.vertical.stripe.news-content {
    background-color: var(--bgcolor) !important;
}
element.style {
    color: var(--txtcolor) !important;
}
.ui.header {
    color: var(--txtcolor) !important;
}
.ui.items>.item .extra {
    color: var(--txtcolor)  !important;
    filter: brightness(0.5) !important;
}
.ui.items>.item>.content>.description {
    color: var(--txtcolor) !important;
}

#content-homepage > div.ui.container.fluid > div > div.column.red > div > p > a, #content-homepage > div.ui.container.fluid > div > div.column.red > div > a, #content-homepage > div.ui.container.fluid > div > div.column.yellow > div > a, #content-homepage > div.ui.container.fluid > div > div.column.red > div > h2, #content-homepage > div.ui.container.fluid > div > div.column.yellow > div > h2,
body > main > div:nth-child(3) > div > a:nth-child(1),
body > main > div:nth-child(3) > div > a:nth-child(2) {
    color: black !important;
}

/* fixing random pages */
.jumbotron {
    background-color: var(--bgcolor) !important;
}
#accordion > div > div > h4 > a {
    background-color: var(--bgcolor) !important;
}
.teams-committees .team .acronym {
    color: var(--txtcolor) !important;
    filter: brightness(0.65) !important;
}
.organizations-list {
    background: white;
}
.organizations-list .organization-box a, .organizations-list .organization-box .panel-info>.heading-as-link:hover, .organizations-list .organization-box .panel-warning>.heading-as-link:hover {
    display: inline-block;
    position: relative;
    height: 120px;
    min-width: 120px;
    color: #292729 !important;
}
.ui.big.buttons .button, .ui.big.buttons .dropdown, .ui.big.buttons .dropdown .menu>.item, .ui.big.buttons .or, .ui.ui.ui.ui.big.button {
    font-size: 1.28571429rem;
    margin-top: 7px;
}
body > main > div:nth-child(3) > div:nth-child(11) > div.col-md-4 > img, body > main > div:nth-child(3) > div:nth-child(4) > div.col-md-4 > img {
    margin-top: 20px;
}
tr.senior-delegate {
    border: 3px solid var(--accent);
}
#faq-list > li:nth-child(3) > div > div > div > div.selectize-dropdown.single.wca-autocomplete.wca-autocomplete-only_one.wca-autocomplete-competitions_search.plugin-restore_on_backspace.plugin-remove_button.plugin-do_not_clear_on_blur{
    color: var(--txtcolor) !important;
}
.selectize-dropdown .active {
    background-color: var(--bgcolor) !important;
    color: var(--txtcolor) !important;
}
.selectize-input.focus {
    border-color: var(--txtcolor) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px var(--accent) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px var(--accent) !important;
}
body > main > div:nth-child(3) > div > a:nth-child(1),
body > main > div:nth-child(3) > div > a:nth-child(2){
    color: var(--accent) !important;
}


.list-group-item {
    background-color: var(--bgcolor) !important;
    border: 1px solid var(--accent)  !important;
}

.wca-autocomplete.selectize-control::before {
    color: var(--txtcolor) !important;
    opacity: 0.85 !important;
}
#faq-list > li:nth-child(3) > div > div > div > div.selectize-input.items.not-full,
#website_contact_name,
#website_contact_your_email,
#website_contact_message,
#target_competition > div > div.selectize-input.items.not-full{    
    background: var(--accent) !important;
}

.form-control, .incident-form .nested-fields .comments-input, .StripeElement--focus {
    color: var(--txtcolor) !important;
}

.selectize-dropdown, .selectize-dropdown.form-control, .incident-form .nested-fields .selectize-dropdown.comments-input {
    background: var(--accent) !important;
}
.btn-primary {
    color: var(--txtcolor) !important;
    background-color: var(--primary) !important;
    border-color: transparent !important;
}

.panel {
    background-color: var(--bgcolor) !important;
}
.panel-default>.panel-heading {
    color: var(--txtcolor) !important;
    background-color: var(--accent) !important;
    border-color: var(--txtcolor) !important;
}

.btn-info {
    color: var(--txtcolor) !important;
    background-color: var(--accent) !important;
    border-color: transparent !important;
}
.btn-info:active:hover, .panel-warning>.heading-as-link:active:hover, .panel-info>.heading-as-link:active:hover, .btn-info:active:focus, .StripeElement--focus:active, .btn-info.focus:active, .btn-info.active:hover, .panel-warning>.active.heading-as-link:hover, .panel-info>.active.heading-as-link:hover, .panel-warning.panel-info>.heading-as-link:hover, .btn-info.active:focus, .active.StripeElement--focus, .btn-info.active.focus, .open>.btn-info.dropdown-toggle:hover, .panel-warning.open>.dropdown-toggle.heading-as-link:hover, .panel-info.open>.dropdown-toggle.heading-as-link:hover, .open>.btn-info.dropdown-toggle:focus, .open>.dropdown-toggle.StripeElement--focus, .open>.btn-info.dropdown-toggle.focus,
.btn-info:hover, .panel-warning>.btn-info.heading-as-link:hover, .panel-info>.btn-info.heading-as-link:hover, .panel-warning.panel-info>.heading-as-link:hover,
.btn-primary:hover, .panel-warning>.btn-primary.heading-as-link:hover, .panel-info>.btn-primary.heading-as-link:hover, .panel-warning.panel-info>.heading-as-link:hover {
    filter: brightness(0.8) !important;
}

.selectize-input, .selectize-control.single .selectize-input.input-active {
    background: var(--bgcolor) !important;
}
#delegate > div > div.selectize-input.items.not-full > input[type=text]{
    color: var(--txtcolor) !important;
}

.competitions-table tr.not-past.confirmed {
    background-color: #2F3136 !important;
}
.panel {
    border: transparent;
}
.panel-heading .collapse-indicator {
    color: var(--txtcolor) !important;
}
.form-control, .incident-form .nested-fields .comments-input, .StripeElement--focus {
    background-color: var(--bgcolor) !important;
}

.text-muted, table.wca-results tbody tr td.region.tied-previous, #person table.wca-results tbody tr td.region.tied-previous, table.wca-results tbody tr td.event.tied-previous, #person table.wca-results tbody tr td.event.tied-previous, table.wca-results tbody tr td.type.tied-previous, #person table.wca-results tbody tr td.type.tied-previous, table.wca-results tbody tr td.pos.tied-previous, #person table.wca-results tbody tr td.pos.tied-previous {
    color: #00f7ff !important;
    background-color: #a200ff !important;
}
#results-selector #event .all-events, #results-selector #region .all-events, #results-selector #type .all-events, #results-selector #years .all-events, #results-selector #show .all-events, #results-selector #gender .all-events {
    background-color: var(--accent) !important;
}

.btn-default {
    color: var(--txtcolor) !important;
    background-color: var(--accent) !important;
    border-color: var(--txtcolor) !important;
}
.table-hover>tbody>tr:nth-of-type(even):hover, .table-hover>tbody.panel-warning>tr.heading-as-link:hover, .table-hover>tbody.panel-info>tr.heading-as-link:hover, .table-hover>tbody.panel-warning.panel-info>.heading-as-link:hover {
    background-color: transparent !important;
}
.table-hover>tbody>tr:hover, .table-hover>tbody.panel-warning>tr.heading-as-link:hover, .table-hover>tbody.panel-info>tr.heading-as-link:hover, .table-hover>tbody.panel-warning.panel-info>.heading-as-link:hover {
    background-color: transparent;
}
table.table th .sortable.desc::after, #person table.table th .sortable.desc::after,
table.table th .sortable.asc::after, #person table.table th .sortable.asc::after {
    color: var(--accent) !important;
}

pre {
    color: var(--txtcolor) !important;
    background-color: var(--bgcolor) !important;
}
code {
    background-color: var(--bgcolor) !important;
}


/* remember to fix more links later !!!! */
/* do incidents log */
/* do wca stats */
a {
    color: var(--primary) !important;
}
a:hover {
    color: var(--txtcolor) !important;
}

/* live */
.css-1bkfitl {
    background-color: var(--accent) !important;
}
/* shop */
/* fix this later if i care enough or if anyone asks me */
.pr_btn.btn--secondary {
    background-color: var(--bgcolor) !important;
    border-color: var(--txtcolor) !important;
}
.product-tile-title {
    color: var(--txtcolor) !important;
    font-size: 14px;
}



/* forums */
#main {
    background-color: var(--bgcolor) !important;
}

/* button spacing and formatting*/
#results-selector > div:nth-child(4),
#results-selector > div:nth-child(5),
#results-selector > div:nth-child(6),
#results-selector > div:nth-child(7){
    margin: 0.40rem !important;
}
.btn-primary {
    border: 0px !important;
    color: var(--txtcolor) !important;
    background: var(--accent) !important;
    border-radius: 0.5rem !important;
}
.btn {
    border: 0px !important;
    color: var(--txtcolor) !important;
    border-radius: 0.5rem !important;
    margin: 0.20rem !important;
}
.btn-primary .d-icon, .btn .d-icon{
    color: var(--txtcolor) !important;
    margin-right: .45em;
    transition: color .25s;
}
/* fix dumb buttons and links using other dumb a styles */
#years > a:hover,  
#gender > a.btn.btn-info.active:hover,
#gender > a:nth-child(2):hover,
#gender > a:nth-child(3):hover,
#show > a.btn.btn-primary.active:hover,
#show > a:nth-child(2):hover,
#show > a:nth-child(3):hover,
#show > a:nth-child(4):hover,
#show > a:nth-child(5):hover,
#results-list > div > table > tbody > tr > td.event > a:hover{
    color: var(--txtcolor) !important;
    filter:brightness(0.8) !important;
}



/* avatar  guidelines panel */
#upload-avatar-form > div.well {
    background-color: var(--bgcolor) !important;
}

/* fix rankings/records */


#person .personal-records table td.country-rank {
    opacity: 1 !important;
}

#person .personal-records table td.continent-rank {
    opacity: 1 !important;
}

@keyframes rainbow-shadow {
    0% {
      box-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 10px #0ba9ca, 0 0 15px #0ba9ca, 0 0 20px #0ba9ca, 0 0 25px #0ba9ca;
    }
    25% {
      box-shadow: 0 0 1px #0ba9ca, 0 0 5px #0ba9ca, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, 0 0 25px #ff0000;
    }
    50% {
      box-shadow: 0 0 1px #ff0000, 0 0 5px #ff0000, 0 0 10px #ffff00, 0 0 15px #ffff00, 0 0 20px #ffff00, 0 0 25px #ffff00;
    }
    75% {
      box-shadow: 0 0 1px #ffff00, 0 0 5px #ffff00, 0 0 10px #00ff00, 0 0 15px #00ff00, 0 0 20px #00ff00, 0 0 25px #00ff00;
    }
    100% {
      box-shadow: 0 0 1px #00ff00, 0 0 5px #00ff00, 0 0 10px #0ba9ca, 0 0 15px #0ba9ca, 0 0 20px #0ba9ca, 0 0 25px #0ba9ca;
    }
}

/* avatars css */
.avatar {
    position: relative;
    background-color: #040712;
    border-radius: 10px;
    transition: transform 0.5s, box-shadow 0.5s, background-color 0.5s, opacity 0.5s; /* Add opacity transition */
    will-change: transform, box-shadow, background-color, opacity; /* Add opacity */
    /* make a glowing background box when not hovered */
    box-shadow: 0 0 10px var(--accent);
    animation: glow-border 4.5s infinite;
    opacity: 1; /* Initial opacity */
  }
  
  /* make the glowing border animation */
  @keyframes glow-border {
    0% {
      box-shadow: 0 0 10px var(--accent);
    }
    25% {
      box-shadow: 0 0 40px var(--accent);
    }
    75% {
      box-shadow: 0 0 40px var(--accent);
    }
    100% {
      box-shadow: 0 0 10px var(--accent);
    }
  }
  
  .avatar:hover {
    transform: perspective(1000px) rotateX(0) rotateY(0) scale(1.05);
    box-shadow: 0 0 150px var(--accent);
    /* make the animation stop when hovered */
    animation: none;
  }

#display-map {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
#display-list{
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
  /* competitions pages here we go... */
  #competition-data > div.alert.alert-info > strong{
    color: inherit !important;
  }
  .nav-tabs>li.active>a, .nav-tabs>li.panel-warning.active>.heading-as-link:hover, .nav-tabs>li.panel-info.active>.heading-as-link:hover, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: var(--accent) !important;
    border: 1px solid var(--txtcolor) !important;
    color: var(--txtcolor) !important;
}