/* default */
/* :root {
    --txtcolor: #ffffff;
    --bgcolor: #2c2c2c;
    --bgcolor: #000000; 
    --primary: #ff7b00;
    --secondary: #006eff;
    --accent: #a439d1;
} */

:root{
    --txtfont: 'Josefin Sans', sans-serif;
}

/* Bloo */

/* :root {
    --txtcolor: #ffffff;
    --bgcolor: #0e0f12;
    --primary: #1a1d21;
    --secondary: #006eff;
    --accent: #0094ff;
} */

/* Google */

/* :root {
    --txtcolor: #4285F4;
    --bgcolor: #ffffff;
    --primary: #34A853;
    --secondary: #FBBC05;
    --accent: #EA4335;
} */

/* Blood */

:root {
    --txtcolor: #efefef;
    --bgcolor: #101010;
    --primary: #ce1c1b;
    --secondary: #000000;
    --accent: #ce1b1b;
}

/* Codepen */

/* :root {
    --txtcolor: #ffffff;
    --bgcolor: #131417;
    --primary: #47cf73;
    --secondary: #444857;
    --accent: #ffdd40;
} */

/* Terminal */

/* :root {
    --txtcolor: #ffffff;
    --bgcolor: #131417;
    --primary: #47cf73;
    --secondary: #4444857;
    --accent: #ffdd40;
} */

@media screen and (max-width: 2000px) {
    .table-responsive {
        border: 1px solid transparent !important;
    }

    .table>thead>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>th,
    .table>tbody>tr>td,
    .table>tfoot>tr>th,
    .table>tfoot>tr>td {
        border-top: 1px solid transparent !important;
    }

    .table>thead>tr>th {
        vertical-align: bottom;
        border-bottom: 0px solid transparent !important;
    }
}

body {
    /* background-image: linear-gradient(#000000, #ff7000) !important; */
    background-color: var(--bgcolor) !important;
    height: 100vh !important;
    margin: 0 !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    font: 400 15px/1.8 var(--txtfont) !important;
    color: var(--txtcolor) !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: var(--primary) !important;
}

.navbar-default {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle.StripeElement--focus {
    background-color: transparent !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: var(--) !important;
}

.navbar-static-top .navbar-nav>li>a.top-nav:hover, .navbar-static-top .navbar-nav>li.panel-info>.top-nav.heading-as-link:hover, .navbar-static-top .navbar-nav>li.panel-warning>.top-nav.heading-as-link:hover {
    background: var(--secondary) !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.panel-warning.active>.heading-as-link:hover, .navbar-default .navbar-nav>.panel-info.active>.heading-as-link:hover, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: var(--txtcolor) !important;
    background-color: invert(var(--txtcolor)) !important;
    filter: invert();
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li.panel-warning>.heading-as-link:hover, .navbar-default .navbar-nav>li.panel-info>.heading-as-link:hover {
    color: var(--txtcolor) !important;
}
.navbar-default .navbar-collapse,.navbar-default .navbar-form {
    border-color: purple !important;
}
/* mobile menu */
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu>li.panel-warning>.heading-as-link:hover,.navbar-default .navbar-nav .open .dropdown-menu>li.panel-info>.heading-as-link:hover {
        color: var(--txtcolor) !important;
    }
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.panel-warning.open>.heading-as-link:hover,.navbar-default .navbar-nav>.panel-info.open>.heading-as-link:hover,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent !important;
}

/* search bar */
.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
    color: var(--txtcolor) !important;
}
.ui.selection.dropdown {
    background: transparent !important;
    border: 3px solid calc(255 - var(--txtcolor)) !important;
    color: var(--txtcolor) !important;
}

.dropdown-menu {
    background-color: var(--primary) !important;
}
  
.dropdown-menu>li>a,.dropdown-menu>li.panel-warning>.heading-as-link:hover,.dropdown-menu>li.panel-info>.heading-as-link:hover {
    color: var(--txtcolor) !important;
}

.dropdown-header {
    font-size: 10px !important;
    color: var(--txtcolor) !important;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li.panel-warning>.heading-as-link:hover,.dropdown-menu>li.panel-info>.heading-as-link:hover,.dropdown-menu>li>a:focus,.dropdown-menu>li>a.StripeElement--focus {
    color: var(--txtcolor) !important;
    background: linear-gradient(to bottom, var(--secondary), var(--secondary)) !important;
    filter: invert();
}

body footer.ui.segment.vertical, html footer.ui.segment.vertical {
    background-color: var(--accent) !important;
    /* border-top: 1px solid #673AB7; */
}

body footer.ui.segment.vertical a, html footer.ui.segment.vertical a {
    color: var(--txtcolor) !important;
}

table.table.floatThead thead th,#person table.table.floatThead thead th {
    background-color: var(--secondary) !important;
}

@media (min-width: 768px) {
    .tab-pane {
        border: 1px solid transparent;
    }
}

.event-checkbox input[type="checkbox"]:checked+i.cubing-icon, .event-checkbox input[type="radio"]:checked+i.cubing-icon, .event-radio input[type="checkbox"]:checked+i.cubing-icon, .event-radio input[type="radio"]:checked+i.cubing-icon {
    color: var(--accent);
}
.event-checkbox input[type="checkbox"]+i.cubing-icon, .event-checkbox input[type="radio"]+i.cubing-icon, .event-radio input[type="checkbox"]+i.cubing-icon, .event-radio input[type="radio"]+i.cubing-icon {
    color: var(--txtcolor);
}

a {
    color: var(--txtcolor) !important;
}
a:hover {
    color: var(--txtcolor);
}

.nav-tabs>li.active>a, .nav-tabs>li.panel-warning.active>.heading-as-link:hover, .nav-tabs>li.panel-info.active>.heading-as-link:hover, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: var(--accent);
}

.nav-tabs-justified>.active>a, .nav-tabs-justified>.panel-warning.active>.heading-as-link:hover, .nav-tabs-justified>.panel-info.active>.heading-as-link:hover, .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.panel-warning.active>.heading-as-link:hover, .nav-tabs.nav-justified>.panel-info.active>.heading-as-link:hover, .nav-tabs-justified>.active>a:hover, .nav-tabs-justified>.active>a:focus {
    border-bottom-color: var(--txtcolor);
}

.nav-tabs-justified>.active>a, .nav-tabs-justified>.panel-warning.active>.heading-as-link:hover, .nav-tabs-justified>.panel-info.active>.heading-as-link:hover, .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.panel-warning.active>.heading-as-link:hover, .nav-tabs.nav-justified>.panel-info.active>.heading-as-link:hover, .nav-tabs-justified>.active>a:hover, .nav-tabs-justified>.active>a:focus {
    border: 1px solid var(--txtcolor);
}

/* rainbow text for 1st rank */
/* #person .personal-records table td.record {
    animation: color-change 1s infinite;
  }
  
  @keyframes color-change {
    0% { color: red; }
    12.5% { color: orange; }
    25% { color: yellow; }
    37.5% { color: green; }
    50% { color: blue; }
    62.5% { color: #a439d1; }
    75% { color: magenta; }
    100% { color: white; }
} */
/* Diamond text for 1st as alternative */
/* #person .personal-records table td.record {
    color: #00f5ff !important;
  } */

/* .nav-tabs>li.active>a, .nav-tabs>li.panel-warning.active>.heading-as-link:hover, .nav-tabs>li.panel-info.active>.heading-as-link:hover, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: var(--txtcolor) !important;
    cursor: default;
    background-color: var(--accent) !important;
    border: 1px solid #0d0d0d !important;
    border-bottom-color: transparent;
} */

/* .nav>li>a:hover, .nav>li.panel-warning>.heading-as-link:hover, .nav>li.panel-info>.heading-as-link:hover, .nav>li>a:focus, .nav>li>a.StripeElement--focus {
    text-decoration: none;
    background-color: var(--accent) !important;
} */